In [92]:
import pandas as pd
import seaborn as srn
import statistics  as sts

# ANALISE SUPERFICIAL

In [93]:
dados = pd.read_csv("tempo.csv", sep=";")
dados.head()

  Aparencia  Temperatura  Umidade       Vento Jogar
0       sol           85     85.0       FALSO   nao
1       sol           80     90.0  VERDADEIRO   nao
2   nublado           83     86.0       FALSO   sim
3     chuva           70      NaN       FALSO   sim
4     chuva           68     80.0       FALSO   sim

In [94]:
dados.dtypes

Aparencia       object
Temperatura      int64
Umidade        float64
Vento           object
Jogar           object
dtype: object

In [95]:
dados.isnull().sum()

Aparencia      0
Temperatura    0
Umidade        1
Vento          1
Jogar          0
dtype: int64

# ANALISE DOS DADOS CATEGORICOS

In [96]:
for colunas in dados.select_dtypes('object'):
    print('\n', dados.groupby([colunas]).size())

 Aparencia
chuva      5
menos      1
nublado    3
sol        5
dtype: int64

 Vento
FALSO         7
VERDADEIRO    6
dtype: int64

 Jogar
nao    5
sim    9
dtype: int64

# ANALISE DADOS NUMERICOS

In [97]:
dados.describe()

       Temperatura     Umidade
count    14.000000   13.000000
mean    155.571429   89.769231
std     306.433759   34.540203
min      64.000000   65.000000
25%      69.250000   70.000000
50%      73.500000   85.000000
75%      80.750000   90.000000
max    1220.000000  200.000000

# TRATAMENTO DOS DADOS

In [98]:
dados.loc[dados['Aparencia'] ==  'menos']

  Aparencia  Temperatura  Umidade       Vento Jogar
6     menos           64     65.0  VERDADEIRO   sim

In [99]:
dados.loc[dados['Aparencia'] ==  'menos', 'Aparencia'] = "sol"
dados.groupby(['Aparencia']).size()

Aparencia
chuva      5
nublado    3
sol        6
dtype: int64

In [100]:
dados.loc[(dados['Temperatura'] <  -130 )  | ( dados['Temperatura'] >  130) ]

  Aparencia  Temperatura  Umidade  Vento Jogar
7       sol         1220     95.0  FALSO   nao

In [101]:
mediana = sts.median(dados['Temperatura'])
dados.loc[(dados['Temperatura'] <  -130 )  | ( dados['Temperatura'] >  130), 'Temperatura'] = mediana
dados.loc[(dados['Temperatura'] <  -130 )  | ( dados['Temperatura'] >  130) ]

Empty DataFrame
Columns: [Aparencia, Temperatura, Umidade, Vento, Jogar]
Index: []

In [102]:
mediana = sts.median(dados['Umidade'])
dados['Umidade'].fillna(mediana, inplace=True)
dados['Umidade'].isnull().sum()

0

In [103]:
#visuliza de acordo com o dominio de acordo com o dominio
dados.loc[(dados['Umidade'] <  0 )  | ( dados['Umidade'] >  100) ]

  Aparencia  Temperatura  Umidade Vento Jogar
9     chuva         75.0    200.0   NaN   sim

In [104]:
mediana = sts.median(dados['Umidade'])
dados.loc[(dados['Umidade'] <  0 )  | ( dados['Umidade'] >  100), 'Umidade'] = mediana
dados.loc[(dados['Umidade'] <  0 )  | ( dados['Umidade'] >  100) ]

Empty DataFrame
Columns: [Aparencia, Temperatura, Umidade, Vento, Jogar]
Index: []

In [106]:
#preenche NAs
dados['Vento'].fillna('FALSO', inplace=True)
dados['Vento'].isnull().sum()